.vanilla-calendar {
	$calendar: &;

	display: flex;
	flex-direction: column;
	background-color: white;
	padding: 12px;
	border-radius: 4px;

	&-header {
		display: flex;
		align-items: center;
		margin-bottom: 10px;
		padding: 0 4px;
	}

	&-content {
		display: flex;
		flex-direction: column;
	}

	&-arrow {
		display: block;
		font-size: 0;
		width: 14px;
		height: 14px;
		background-color: black;
		mask: url('@/img/arrow.svg') no-repeat 50% 50%;

		&:hover {
			background-color: lightseagreen;
		}

		&_prev {
			transform: rotateZ(180deg);
		}
	}

	&-month {
		flex-grow: 1;
		font-size: 16px;
		line-height: 20px;
		font-weight: 700;
		color: black;
		display: flex;
		width: 100%;
		justify-content: center;
		padding: 0 15px;
	}

	&-week {
		display: grid;
		grid-template-columns: repeat(7, 1fr);
		column-gap: 5px;

		&__day {
			font-size: 14px;
			line-height: 20px;
			font-weight: 700;
			color: lightseagreen;
			width: 25px;
			height: 25px;
			display: flex;
			align-items: center;
			justify-content: center;

			&_weekend {
				color: coral;
			}
		}
	}

	&-days {
		display: grid;
		grid-template-columns: repeat(7, 1fr);
		column-gap: 5px;

		&_selecting {
			#{$calendar}-day {
				cursor: pointer;

				&_prev,
				&_next,
				&_disabled {
					cursor: default;
				}
			}
		}
	}

	&-day {
		$day: &;

		padding-top: 1px;
		font-size: 14px;
		line-height: 20px;
		font-weight: 400;
		width: 25px;
		height: 25px;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 50%;
		background-color: white;
		cursor: default;

		&:hover {
			background-color: whitesmoke;
		}

		&_today {
			background-color: aliceblue;
			color: lightseagreen;
			font-weight: 600;

			&:hover {
				color: lightseagreen;
				background-color: aliceblue;
			}
		}

		&_selected {
			background-color: lightseagreen;
			color: white;

			&:hover {
				background-color: lightseagreen;
				color: white;
			}
		}

		&_weekend,
		&_holiday {
			color: coral;

			&#{$day}_today {
				color: coral;
				background-color: seashell;
			}

			&#{$day}_selected {
				background-color: coral;
				color: white;
			}
		}

		&_prev,
		&_next,
		&_disabled {
			background-color: white;
			color: lightgrey;
			pointer-events: none;

			&:hover {
				background-color: white;
				color: lightgrey;
			}
		}
	}
}
