extends ../layout

block variables
	- var title = 'Главная страница';
	- var sidebar = false;

block content
	h1.text-center VANILLA-CALENDAR DEMO
	p.text-center Плагин календаря на ванильном JS.
	section.section
		h2 Default
		.grid
			.vanilla-calendar
