extends ../layout

block variables
	- var title = 'Главная страница';
	- var sidebar = false;

block content
	section.section
		h1.text-center VANILLA-CALENDAR DEMO
		p.text-center Календарь на ванильном JS.
		.grid
			.vanilla-calendar
