// Global
@import './other/normalize.scss';
@import './other/fonts.scss';
@import './other/basic.scss';
@import './other/wrapper.scss';

.main-content {
	display: block;
	background-color: #f1f1f1;
}

.github {
	position: absolute;
	z-index: 2;
	right: 25px;
	bottom: 20px;
	display: block;
	font-size: 0;
	width: 50px;
	height: 50px;
	background-color: #756855;
	mask: url('../img/github.svg') no-repeat 50% 50%;

	&:hover {
		background-color: black;
		transition: background-color 0.1s;
	}
}

.section {
	$section: &;

	position: relative;
	margin: 60px auto 30px;
	max-width: 900px;
	padding: 0 15px;
	padding-bottom: 30px;
	border-bottom: 1px solid #e0e0e0;

	&:last-child {
		border-bottom: 0;
		margin-bottom: 0;
	}

	&_main {
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin-top: 0;
		max-width: 100%;
		min-height: 100vh;
		padding: 50px 15px 100px;
		align-items: center;
		background: #20b2aa;
		background: linear-gradient(to bottom right, #20b2aa, #ffcc97);
		border-bottom: 0;

		#{$section}__title {
			display: block;
			width: max-content;
			max-width: 100%;
			margin: 0 auto 20px;
			font-size: 50px;
			line-height: 50px;
			font-weight: 700;
			color: white;
			text-shadow: 0 0 3px #54635e;
		}

		#{$section}__subtitle {
			display: block;
			width: max-content;
			max-width: 100%;
			margin: 0 auto 40px;
			font-size: 16px;
			line-height: 24px;
			font-weight: 600;
			color: white;
			text-shadow: 0 0 3px #54635e;
		}
	}

	&__title {
		display: block;
		margin-bottom: 15px;
		font-size: 24px;
		line-height: 28px;
		font-weight: 700;
		text-align: center;
	}

	&__subtitle {
		display: block;
		margin-bottom: 35px;
		font-size: 16px;
		line-height: 20px;
		font-weight: 400;
		text-align: center;
	}

	.vanilla-calendar {
		margin: 0 auto;
		border: 1px solid #e0e0e0;
	}
}

pre.code {
	display: block;
	margin: 20px auto 0;
	background-color: transparent;
	font-size: 0;
	width: 800px;
	max-width: 100%;

	code {
		background-color: white;
		border: 1px solid #e0e0e0;
		border-radius: 4px;
		font-size: 14px;
		padding: 0 25px;
	}
}
