// Global
@import './global/normalize.scss';
@import './global/fonts.scss';
@import './global/basic.scss';
@import './global/wrapper.scss';

.main-content {
	display: block;
	padding: 50px 0;
	background-color: #efefef;
}

.section {
	position: relative;
	margin: 20px 0 30px;
	align-items: center;
	display: flex;
	flex-direction: column;
}

.text-center {
	text-align: center;
}

.grid {
	display: grid;
	gap: 10px;
	justify-content: center;
}
