@mixin font($font_name, $file_name, $font_display, $weight, $style) {
	@font-face {
		font-family: $font_name;
		src: url('../fonts/#{$font_name}/#{$file_name}.woff2') format('woff2'), url('../fonts/#{$font_name}/#{$file_name}.woff') format('woff');
		font-display: $font_display;
		font-weight: #{$weight};
		font-style: #{$style};
	}
}

@include font('Lato', 'Lato-Regular', fallback, '400', 'normal');
@include font('lato', 'Lato-Semibold', fallback, '600', 'normal');
@include font('Lato', 'Lato-Bold', fallback, '700', 'normal');
